body {
  font-family: 'Noto Sans', Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 22px;
  color: #333333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.2px;

  min-height: 100vh;
}

.container {
  padding: 56px 0;
}
